*{
    margin:0 ;
    padding:0;
}
.header {
display: flex;
background-color: orange;
justify-content: space-evenly;
}
.header > div{
    font-size: 20px;
    padding: 15px;
}
.caption{
 font-family:serif;
 text-align: center;
 margin: 20px;
}
/* .flex-container{
    display: flex;
    align-items: stretch;
}
.flex-container > div{
    border: 2px solid green;
    width: 100px;
    margin-left: 10em;
    text-align: center;
    margin-bottom: 20px;;
} */
.flex-container ul {
    list-style: none;
    margin-left: 25em;
}
.flex-container ul li{
    display: inline-block;
    margin-left: 10px;
    border: 2px solid green;
    text-align: center;
    width:100px;
    margin-bottom: 20px;
}
.sub-heading{
    background-color: orange;
    text-align: center;
    padding: 10px;
}
.content{
    display: flex;
    height: 350px;
    
}
.content > div{
    background-color: cadetblue;
    width:200px;
}
.footer{
    background-color: rgb(57, 139, 57);
    text-align: center;
    padding: 10px;
}